<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Admin</h1>
<form method="POST">
    <label for="complaintid">ComplaintID: </label>
    <input type="number" name="complaintid" id="complaintid">
    <label for="status">status: </label>
    <select name="status" id="status">
        <option value="dismissed">Dismissed</option>
        <option value="resolved">Resolved</option>
    </select>
    <input type="submit">
</form>
{% for i in range(len) %}
<p>Complaint ID: {{i+1}}</p>
<p>{{ListOfComplaints[i]}}</p>
<p>{{status[i]}}</p>
{% endfor %}
</body>
</html>